<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <title>User Login</title>
</head>
<body>
  <div class="container">
    <h2>User Login</h2>
    {% include 'template_message.html' %}

    <!-- login form -->
    <form method='post'> <!-- Django from requires to use a POST method -->
      {% csrf_token %} <!-- prevent a CSRF Attack -->
      {{form.as_p}}
      <div class="submit-button"><input type="submit" value="Login" id="submit"></div>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    <p><a href="{% url 'reset_pass' %}">Forgot password?</a></p>

  </div>
</body>
</html>



