{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="message-box is_success">{{ message|safe|escape }}</div>
        {% elif message.tags == 'error' %}
        <div class="message-box is_error">{{ message|safe }}</div>
        {% elif message.tags == 'info' %}
        <div class="message-box is_info">{{ message|safe|escape }}</div>
        {% elif message.tags == 'warning' %}
        <div class="message-box is_warning">{{ message|safe|escape }}</div>
        {% endif %}
    {% endfor %}
{% endif %}