{% extends "base.html" %}
{% block page_title %}
Food Table
{% endblock %}

{% block content %}
<div class="row food_table">
    <div class="col-6 mt-3">
<table class="table table-hover align-middle">
    <tr class="table-dark">
        <th style="text-align: center">Food Name</th>
        <th style="text-align: center">Calories Per Serving</th>
    </tr>
    {% for food in foods %}
    <tr>
        <td style="padding-left: 4vw">
            <div>
                <input type="checkbox" name="food_select" value="{{ food.id }}" class="food-checkbox">
                <img src="{{ food.image.url }}" alt="" style="max-width: 125px; max-height: 125px;">
            </div>
            <div>
                <b>{{ food.name|title }}</b>
            </div>
        </td>
        <td style="text-align: center">{{ food.calories }}</td>
    </tr> 
    {% endfor %}
    </div>
</div>
    <tr>
        <td style="padding-left: 4vw"><input type="text" id="food_name"></td>
        <td style="padding-left: 8vw"><input type="number" id="calories"></td>
    </tr>
    <tr>
        <td style="padding-left: 4vw">
            <label for="foodImg_Id">Choose Image File:</label>
            <input type="file" name="foodImg"  accept="image/*" id="foodImg_Id" >
        </td>
        <td><button type="submit" class="btn" id="create-food-item">Create</button>
        <button type="submit" class="btn btn-danger" id="delete-food-item">Delete Selected</button></td>
    </tr>
</table>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script>
    var serverIP = window.location.hostname;
    document.getElementById("create-food-item").addEventListener("click", event => {
        let food_name = document.getElementById("food_name").value;
        let calories = document.getElementById("calories").value;
        let foodImage = document.getElementById("foodImg_Id").files[0];
        let token = Cookies.get('csrftoken');

        let formData = new FormData();
        formData.append('food_item_name', food_name);
        formData.append('calories', calories);
        formData.append('food_image', foodImage);

        let requestOptions = {
            method: 'POST',
            headers: {
                'X-CSRFToken': token,
            },
            body: formData,
            redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/create-food-item", requestOptions)
            .then(response => response.text())
            .then(result => {
                console.log(result);
                location.reload();
            })
            .catch(error => console.log('error', error));
    });
    var checkboxes = document.getElementsByClassName("food-checkbox");
    var selectedValue = "";

    function handleCheckboxChange(event) {
        // Uncheck all other checkboxes
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== event.target) {
                checkboxes[i].checked = false;
            }
            else
            {
                selectedValue = checkboxes[i].value
            }
        }
    }
    
    // Add event listener to each checkbox
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", handleCheckboxChange);
    }
    
    document.getElementById("delete-food-item").addEventListener("click", event => {
        let token = Cookies.get('csrftoken');
        let formData = new FormData();
        formData.append('food_item_selected', selectedValue);
        let requestOptions = {
            method: 'POST',
            headers: {
                'X-CSRFToken': token,
            },
            body: formData,
            redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/delete-food-item", requestOptions)
            .then(response => response.text())
            .then(result => {
                console.log(result);
                location.reload();
            })
            .catch(error => console.log('error', error));
    });
 
</script>
{% endblock %}