{% extends "base.html" %}
{% block page_title %}
 Food Journal
{% endblock %}

{% block content %}
<div class="row">

<div class="row food_table">
    <div class="col-2 mt-4">
        <br>
        <div class="text-center ms-5 pb-3" style="border-bottom: solid lightgray">
           <button type="submit" class="btn" id="log-food-item">Log</button>
            <button type="submit" class="btn" id="delete-food-item">Delete Selected</button>
        </div>
        <div class="text-center mt-3  ms-5 pb-3" style="border-bottom: solid lightgray">
            <h3><u>Total Calories</u></h3>
            <div class="calorie-counter">
                <span>{{calories}}</span>
            </div>
        </div>
        <br>
        <h3><u>Filters</u></h3><br>
        <h4 class="ms-5 ">Time Period</h4>
        <div class="form-check form-switch ms-5 pb-3" style="border-bottom: solid lightgray">
            <input name="time-period" id="all" type="radio" class="form-check-input">
            <label class="form-check-label" for="all">All</label>

            <input name="time-period" id="month" type="radio" class="form-check-input">
            <label class="form-check-label" for="month">Last 30 Days</label>

            <input name="time-period" id="week" type="radio" class="form-check-input">
            <label class="form-check-label" for="week">Current Week</label>

            <input name="time-period" id="today" type="radio" class="form-check-input">
            <label class="form-check-label" for="today">Today</label>
        </div>

</div>
    <div class="col-6 mt-3" >
        <h3><u>Food Journal</u></h3>
        <div style="overflow-y: scroll; height: 72vh">
<table class="table table-hover" >
    <tr class="table-dark">
        <th></th>
        <th>Food Name</th>
        <th>Number of Servings</th>
        <th>Total Calories</th>
        <th>Time Consumed</th>
    </tr>
    <tr class="table-secondary">
<!--        <td><input type="text" id="food_name"></td>-->
        <td></td>
        <td><select name="foods" id="food_name"></select></td>
        <td><input type="number" id="number_servings"></td>
        <td>Select Date</td>
        <td><input type="datetime-local" id="dateInput"></td>

    </tr>
{% for food in foods %}
    <tr class="table-light">
        <td>
            <div>
                <input type="checkbox" name="log_select" value="{{ food.id }}" class="food-checkbox">
            </div>
        </td>
        <td><b>{{food.food_name|title}}</b></td>
        <td>{{food.num_servings}}</td>
        <td>{{food.calories}}</td>
        <td>{{food.date}}</td>
    </tr>
 {% endfor %}

</table>
            </div>


        </div>
    <div class="col-4 mt-3">

        <h3><u>Calories Over Time</u></h3>
        <div>
            <canvas id="calorieChart" style="background-color: white"></canvas>
        </div>
        <div class="mt-3">
        <h3><u>Favorite Foods</u></h3>
            <canvas  id="favoriteFoods" style="background-color: white; max-height: 35vh"></canvas>
        </div>

    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let serverIP = window.location.hostname;

    let dateInput = document.getElementById('dateInput');
    let currentDate = new Date();
    let currentDateTime = currentDate.toISOString().slice(0, 16);

    dateInput.value = currentDateTime;

    function setTimePeriod(){
        let all = document.getElementById("all").checked
        let week = document.getElementById("week").checked
        let today = document.getElementById("today").checked
        let month = document.getElementById("month").checked
        let filter
        if (week){
            filter = "week"
        }
        else if(month){
            filter = "month"
        }
        else if (today){
            filter = "today"
        }else {
            filter = "all"
        }

        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        let token = Cookies.get('csrftoken');
        myHeaders.append('X-CSRFToken',token)

        var raw = JSON.stringify({
        "filter": filter
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/set-filter", requestOptions)
            .then(response => response.text())
            .then(result => {
                console.log(result)
                location.reload()
            })
            .catch(error => console.log('error', error));
            }

    document.getElementById("all").addEventListener("change",ev => {
        setTimePeriod()
    })
    document.getElementById("month").addEventListener("change",ev => {
        setTimePeriod()
    })
    document.getElementById("week").addEventListener("change",ev => {
        setTimePeriod()
    })
    document.getElementById("today").addEventListener("change",ev => {
        setTimePeriod()
    })
    window.addEventListener("load",ev=>{
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        let token = Cookies.get('csrftoken');
        myHeaders.append('X-CSRFToken',token)
        let applied_filter = "{{applied_filter}}"
        if (applied_filter === "today"){
            document.getElementById("today").checked = true
        }else if(applied_filter === "week") {
            document.getElementById("week").checked = true
        }else if(applied_filter === "month"){
            document.getElementById("month").checked = true
        }else{
            document.getElementById("all").checked = true
        }


        let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/get-food-names", requestOptions)
        .then(response => response.text())
        .then(result => {
            let food_picker = document.getElementById("food_name")
            let food_list = JSON.parse(result)["food_name"]
            for (let i = 0; i<food_list.length;i++){
                let new_selection = document.createElement("option")
                new_selection.value = food_list[i]
                new_selection.innerText = food_list[i]
                food_picker.appendChild(new_selection)
            }

        })
        .catch(error => console.log('error', error));
        })

    document.getElementById("log-food-item").addEventListener("click",event=>{
        let food_name = document.getElementById("food_name").value
        let servings = document.getElementById("number_servings").value
        let ateDate = document.getElementById("dateInput")

        var currentDate = new Date().toISOString().slice(0, 16);  // Get current date and time in the format "YYYY-MM-DDThh:mm"

        if (!ateDate.value) {
            ateDate.value = currentDate;
        }
        let token = Cookies.get('csrftoken');
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Cookie", "csrftoken=c8WDPudOABPAxaL7aEncG3SJWBzBEVBk");
        myHeaders.append('X-CSRFToken',token)

        let raw = JSON.stringify({
        "food_item_name": food_name,
        "num_servings": servings,
        "dateHad": ateDate.value
        });

        let requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/create-log-entry", requestOptions)
        .then(response => response.text())
        .then(result => {
            location.reload()
        })
        .catch(error => console.log('error', error));
    });

    let checkboxes = document.getElementsByClassName("food-checkbox");
    let selectedValue = "";

    function handleCheckboxChange(event) {
        // Uncheck all other checkboxes
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== event.target) {
                checkboxes[i].checked = false;
            }
            else
            {
                selectedValue = checkboxes[i].value
                console.log(selectedValue)
            }
        }
    }

    // Add event listener to each checkbox
    for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", handleCheckboxChange);
    }

    document.getElementById("delete-food-item").addEventListener("click", event => {
        let token = Cookies.get('csrftoken');
        let formData = new FormData();
        formData.append('log_item_selected', selectedValue);
        let requestOptions = {
            method: 'POST',
            headers: {
                'X-CSRFToken': token,
            },
            body: formData,
            redirect: 'follow'
        };

        fetch("http://" + serverIP + ":8000/foods/delete-log-entry", requestOptions)
            .then(response => response.text())
            .then(result => {
                console.log(result);
                location.reload();
            })
            .catch(error => console.log('error', error));
    });
    window.addEventListener("load",event =>{
        let token = Cookies.get('csrftoken');
        let requestOptions = {
        method: 'POST',
        headers: {
                'X-CSRFToken': token,
            },
        redirect: 'follow'
        };

        fetch("http://localhost:8000/foods/cal-per-day", requestOptions)
        .then(response => response.text())
        .then(result => {

            const ctx = document.getElementById('calorieChart');
            const foodChart = document.getElementById('favoriteFoods')
            new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        data: JSON.parse(result)["calories"],
                        label:"Calories",
                        borderWidth: 3,
                        borderColor:  '#56664e',
                        backgroundColor: '#56664e'
                        }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                            },
                        x: {
                            ticks: {
                                autoSkip: false,
                                maxRotation: 90,
                                minRotation: 80
                                }
                            }
                        }
                    },
                });
            console.log(result)
        })
        .catch(error => console.log('error', error));
                fetch("http://localhost:8000/foods/fav-food", requestOptions)
        .then(response => response.text())
        .then(result => {

            const ctx = document.getElementById('calorieChart');
            const foodChart = document.getElementById('favoriteFoods')
            new Chart(foodChart, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: JSON.parse(result)["numbers"],
                        backgroundColor: ["#d2e0ee","#687cac","#84a29f","#c08673","#a6b980","#56664e"]
                        }],
                    labels:JSON.parse(result)["labels"]
                    },
                options: {


                    },
                });
            console.log(result)
        })
        .catch(error => console.log('error', error));
    })




</script>
{% endblock %}