.header-container{
    height: 10vh;
    display: flex;
    background-color: #f1f2eb;
    align-content: center;
    justify-content: center;
    box-shadow: #84a29f 0px 5px 5px 0px;
}

.header-container h1{
    font-family: 'Montserrat', sans-serif;
    color: #56664e;
}

.navigation-container{
    height: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: lightgrey 1px solid;

}