/* General Styling */
/*body {*/
/*  background-color: #f2f2f2;*/
/*  font-family: Arial, sans-serif;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*.container {*/
/*  text-align: center;*/
/*  width: 600px;*/
/*  margin: 100px auto;*/
/*  padding: 20px;*/
/*  background-color: #fff;*/
/*  border-radius: 4px;*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

h1,h2,h3,h4 {
  text-align: center;
  color: #56664e;
  font-family: 'Montserrat', sans-serif;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #666;
}

.form-box input[type="email"]
{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-box input[type="text"]
{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.form-box input[type="password"]
{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #56664e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.submit-button{
  text-align: center;
  margin-bottom: 2em;
}

ul.errorlist{
  color: red;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #56664e;
}

/* Background Image */
body {
  background-color: #f1f2eb;
}

/* Media Query for Responsive Design */
/*@media (max-width: 480px) {*/
/*  .container {*/
/*    width: 80%;*/
/*  }*/
/*}*/

.header-container{
  height: 10vh;
  display: flex;
  background-color: #5a7582;
  align-content: center;
  justify-content: center;
  border-bottom: solid 2px #56664e;
  flex-wrap: wrap;
  /*box-shadow: #84a29f 0px 5px 5px 0px;*/
}

.header-container h1{
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}

.navigation-container{
  height: 8vh;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: lightgrey 1px solid;

}
.container-fluid{
  overflow: auto;
  padding: 0px;
}

.form-container{
  margin-top: 15vh;
  padding: 1vh;
  border: 2px solid #56664e;
  background-color: white;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.btn{
  border: 1px solid black;
  margin: 1vh;
  background-color: #56664e;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 10vw;
}

.btn:hover{
  background-color: #84a29f;
  box-shadow: lightgrey 1px 1px 1px 1px;
}

.logout-btn {
  color: white;
  font-weight: 700;
  background-color: #5a7582;
  border: 2px solid white;
}

.logout-btn:hover{
  background-color: #84a29f;
  box-shadow: none;
}

.logout {
  position: absolute;
  left:0;
  margin: 0.5em auto;
}

.manage-account{
  margin: 2em;
}

.manage-account form{
  border: #666666 1px solid;
  background-color: white;
  padding: 2em;
  width: 50%;
  margin: 2em auto;
  text-align: left;
}

.manage-account .pass-change ul {
  align-content: center;
  border: darkred 3px solid;
  padding: 1em 2em;
  box-shadow: lightgrey 1px 1px 1px 1px;
  margin: auto 2em;
  border-radius: 0.275rem;
}

label{
  font-family: 'Montserrat', sans-serif;
  color: #56664e;
}

.food_table{
  display: flex;
  overflow: auto;
  justify-content: center;
}

.calorie-counter{
  background: #5a7582;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.calorie-counter span{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: whitesmoke;
}

td {
  background-color: white;
}

/*#d2e0ee*/
/*#687cac*/
/*#c08673*/
/*#84a29f*/
/*#a6b980*/
/*#56664e*/

/* message box styling */
.message-box {
  align-content: center;
  padding: 1em 2em;
  box-shadow: lightgrey 1px 1px 1px 1px;
  margin: 0.5em 2em;
  border-radius: 0.275rem;
  text-align: center;
}

.is_error {
  font-weight: bold;
  background-color: rgb(255, 65, 83, 0.1);
  border: darkred 3px solid;
}

.is_success {
  font-weight: bold;
  background-color: rgb(60, 179, 113, 0.1);
  border: darkgreen 3px solid;
  color: darkgreen;
}

.is_info {
  font-weight: bold;
  background-color: rgb(0, 0, 255, 0.1);
  border: dodgerblue 3px solid;
  color: blue;
}

.is_warning {
  font-weight: bold;
  background-color: rgb(255, 165, 0, 0.1);
  border: darkorange 3px solid;
  color: darkorange;
}


/* Social Posting Styling */
.social-frontpage {
  display: flex;
  width: 90%;
  margin: auto;
}

.posts-container {
  float: left;
  width: 56%;
  margin: 2em;
}

.single-post {
  background: white;
  border: #666666 solid 1px;
  padding: 1em;
  margin-bottom: 1em;
}

.post-name {
  font-weight: 700;
  font-size: larger;
}

.post-time {
  color: #cccccc;
}

.post-body p{
  text-align: left;
}

.sendbox-container {
  float: right;
  width: 36%;
  margin: 2em;
}

.social-nav {
  width: 100%;
}

.social-btn{
  border: 1px solid black;
  margin: 1vh;
  background-color: #56664e;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.social-btn:hover{
  background-color: #84a29f;
  box-shadow: lightgrey 1px 1px 1px 1px;
}

.social-profiles {
  margin: 1em auto;
  width: 70%;
  text-align: center;
}

.social-profiles img{
  max-height: 8em;
}

.profile_btn {
  background-color: white;
  border: 1px solid black;
  width: 20vw;
  display: inline-block;
  margin: 0.5em;
  border-radius: .25rem;
}

.user-page-container {
  float: right;
  width: 36%;
  margin: 0 2em 2em 2em;
}

.is_inactive {
  width: 45%;
  background-color: darkgrey;
}

.is_inactive:hover{
  background-color: darkgrey;
  box-shadow: none;
  cursor: not-allowed;
  color: white;
}

.is_green {
  width: 45%;
}

.is_red{
  width: 45%;
  background-color: firebrick;
}

.is_red:hover{
  background-color: darkred;
  color: white;
}

.follow-container li {
  display: inline-block;
  background-color: white;
  border: #666666 1px solid;
  padding: 1em;
  margin: 0.5em;
  border-radius: .25rem;
}

.follow-container a {
  text-decoration: none;
}

.follow-container li:hover {
  color: white;
  background-color: #84a29f;
}

.follow-container {
  background-color: lightgoldenrodyellow;
  border: #666666 1px solid;
  margin: 2em 0;
  border-radius: .25rem;
}

.follow-container h4 {
  margin-top: 0.6em;
}


/* homepage styling */
.homepage-container {
  width: 70%;
  margin: 2em auto;
}

.gallery {
  text-align: center;
  display: flex;
  width: 100%;
}

.home-img {
  border: #666666 1px solid;
  box-shadow: lightgrey 1px 1px 1px 1px;
  height:180px;
  object-fit: cover;
  position: relative;
  transition: transform .2s;
  padding: 0.3em;
  margin: 1em 2em;
}

.home-img:hover{
  transform: scale(1.1);
  z-index: 2;
}

.img-box {
  display: inline-block;
  width: 45%;
  margin: 1.5em;
}